In [1]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')
import plotly.graph_objects as go
import numpy as np
pd.set_option('display.max_rows', 500)

In [2]:
data = pd.read_csv('merged - Copy.csv',encoding = 'unicode_escape')

In [3]:
data = data.dropna(subset=['suicides/100k pop']).reset_index(drop=True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 11 columns):
country                       87 non-null object
region                        87 non-null object
GDP per capita usd            87 non-null float64
population                    87 non-null float64
suicides/100k pop             87 non-null float64
gini                          78 non-null float64
HDI                           85 non-null object
median_age                    87 non-null float64
life_expectancy               87 non-null float64
household_debt_percent_GDP    70 non-null float64
happiness                     73 non-null float64
dtypes: float64(8), object(3)
memory usage: 7.6+ KB

In [5]:
data.mean()

GDP per capita usd            2.484107e+04
population                    2.327296e+07
suicides/100k pop             1.027626e+01
gini                          3.742333e+01
median_age                    3.574598e+01
life_expectancy               7.699475e+01
household_debt_percent_GDP    5.228513e+01
happiness                     6.162260e+00
dtype: float64

In [6]:
data['HDI'] = pd.to_numeric(data['HDI'],errors='coerce')
data.rename(columns={'suicides/100k pop': 'suicides_per_100k', 'GDP per capita usd':'gdp_per_cap_usd'}, inplace=True)

In [7]:
data = data.fillna(data.mean())

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 11 columns):
country                       87 non-null object
region                        87 non-null object
gdp_per_cap_usd               87 non-null float64
population                    87 non-null float64
suicides_per_100k             87 non-null float64
gini                          87 non-null float64
HDI                           87 non-null float64
median_age                    87 non-null float64
life_expectancy               87 non-null float64
household_debt_percent_GDP    87 non-null float64
happiness                     87 non-null float64
dtypes: float64(9), object(2)
memory usage: 7.6+ KB

In [10]:
data.shape

(87, 11)

In [28]:
d ={'OCEANIA                            ' : 'GLOBAL WEST',
     'WESTERN EUROPE                     ' : 'GLOBAL WEST',
     'NORDIC STATES' : 'GLOBAL WEST',
     'WESTERN ASIA' : 'ASIA',
     'EASTERN EUROPE                     ': 'EASTERN EUROPE',
     'SOUTHEAST ASIA' : 'ASIA', 
     'NORTHERN AMERICA                   ' : 'GLOBAL WEST',
     'LATIN AMER. & CARIB    ': 'LATIN AMER. & CARIB',
     'SUB-SAHARAN AFRICA                 ': 'SUB-SAHARAN AFRICA',
     'BALTICS                            ' : 'EASTERN EUROPE',
     'CENTRAL ASIA' : 'ASIA',
      'ASIA                           ' : 'ASIA'
    }




data.replace({"region": d}, inplace=True)

In [29]:
data['region'].unique()

array(['LATIN AMER. & CARIB', 'ASIA', 'GLOBAL WEST', 'EASTERN EUROPE',
       'MIDDLE EAST', 'SUB-SAHARAN AFRICA'], dtype=object)

In [18]:
# data['suicide_no'] = data[['population', 'suicides_per_100k']].apply(lambda x: x[1]*x[0]/100000, axis=1)

In [19]:
data.head()

,country,region,gdp_per_cap_usd,population,suicides_per_100k,gini,HDI,median_age,life_expectancy,household_debt_percent_GDP,happiness,suicide_no
0,Antigua and Barbuda,LATIN AMER. & CARIB,14853.0,91889.0,1.088270,37.423333,0.775,31.6,76.483000,52.285129,6.16226,1.000000
1,Argentina,LATIN AMER. & CARIB,14981.0,39699624.0,7.740627,42.700000,0.822,31.5,76.068000,6.350000,6.57400,3073.000000
2,Armenia,ASIA,3775.0,2795335.0,2.647268,32.400000,0.748,34.6,74.467000,53.700000,4.35000,74.000000
3,Australia,GLOBAL WEST,60656.0,22240785.0,13.610131,34.700000,0.936,38.6,82.400000,120.140000,7.28400,3027.000001
4,Austria,GLOBAL WEST,46484.0,8219386.0,15.220115,30.500000,0.903,43.8,81.190244,50.210000,7.20000,1251.000000

In [13]:
data.to_csv('reg_data.csv', index=False)